*{
    margin: 0;
    padding: 0;
    font-family:century Gothic;
}


header{
    margin-top: 25px;
background-color: BLUE;
height: 100vh;
}
.but1{
    float: right;
}
.but2{
    float: right;
}
ul{
    
    list-style-type: none;
    margin: 30px;
}
ul li {
    display: inline-block;
}
li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
}
ul li a:hover{
    background-color: #fff;
    color: blueviolet;
}
.logo img{
    float: left;
    height: auto;
    width: 150px;
    margin-top: 25px;
    
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
}
.button{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.but{
    margin-left: 55px;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
}
.but:hover{
    background-color: #fff;
    color: black;
}
.amir{
    height: auto;
    width: 200px;
    background-color: aqua;
    margin-top: 25px;
    margin-left: 15px;
    color: chocolate;
    border-radius: 50px;
    text-align: center;
}
.khan{
    width: 300px;
    background-color: aqua;
    color: chocolate;
    margin-left: 10px;
    margin-top: 10px;
}
.sheikh{
    height: 65px;
    width: 300px;
    background-color: aqua;
    border-radius: 50px;
    text-align: center;
    float: right;
    font-size: 25px;
    color: chocolate;
    border: 5px solid black;
    
}
.green{
    margin-top: 15px;
}
.red{
    height: 65px;
    width: 300px;
    background-color: aqua;
    border-radius: 50px;
    text-align: center;
    float: left;
    font-size: 25px;
    color: chocolate;
    margin-top: 300px;
    border:5px solid red
}
.blue{
    margin-top: 15px;
    border: 1px solid red;
    border-radius: 40px;

}
.navbar{
    height: 60px;
    background-color: black;
    color: #fff;
    margin-top: 900px;
    border: 5px solid red;
    border-radius: 50px;
    margin-right: 25px;
    margin-left: 20px;
    


}
.home{
    margin-top: 15px;
    margin-left: 200px;
    display: inline-block;
}
.about{
    margin-top: 35px;
    margin-left: 200px;
    display: inline-block;
}
.gellery{
    margin-top: 35px;
    margin-left: 200px;
    display: inline-block;
    
}
.contact{
    margin-top: 35px;
    margin-left: 200px;
    display: inline-block;
}
.home :hover{
    background-color: aqua;
}
.about :hover{
    background-color: aqua;
}
.gellery :hover{
    background-color: aqua;
}
.contact :hover{
    background-color: aqua;
}
.black{
    height: 220px;
    width: 800px;
    background-color: black;
    text-align: center;
    color: red;
    margin-top: 35px;
    margin-right: 250px;
    border: 4px solid red;
    margin-left: 25
    0px;
}
.photo{
    float: right;
    height: 500px;
    width: 1340px;
    background-image: url(./1.jpg);
    border: 4px solid red;
    background-size: cover;
    
}
.bilal{
    width: 542px;
    height: 220px;
    background-image: url(./logo2.png);
    float: right;
    margin-top: 56px;
    border: 4px solid red;
    background-size: cover;
}
.border{
    height: 50px;
    color: blue;
    font-size: 40px;
}
.abaya{
    
}







    
